@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
}
header {
    max-width: 1680px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(89, 0, 255);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}
header .logo img {
    width: 210px;
    margin: 0 60px;
    padding: 10px;
}
header .menu ul {
    display: flex;
    padding: 0 150px;
}
header .menu ul li {
    list-style: none;
    padding: 0 30px;
}
header .menu ul li a {
    font-family: 'Belleza', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    color: #f0f8ff;  
}
header .menu ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}
/*      SECTION       */
section .container{
    max-width: 1680px;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
}
/*      HOME       */
#home .container{
    background: url(images/bg1.png) no-repeat;
    background-size: cover;
}
#home .container .content {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 60px;
}
#home .container .content h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 200px;
    margin-bottom: 40px;
    color: #302725;
}
#home .container .content p {
    font-family: 'Belleza', sans-serif;
    font-size: 1.3rem;
    color: #737373;
    margin-bottom: 120px;
    margin-top: 40px;
}
#home .container .content span {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    color: #0011ff;
    letter-spacing: 5px;
}
#home .container .content button {
    padding-top: 200px;
}
#home .container .content .button button {
    padding: 10px 20px;
    border: none;
    background-color: #0011ff;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
} 
#home .container .content .button button:hover {
    transform: scale(1.1);
}
#home .container .content button.btn2 {
    background-color: #ffe600;
    font-weight: 700;
    color: #313131;  
    padding: 15px 20px;
    position: relative;
    right: 5px;
}

/*      BRANCH       */
#branch .container {
    background: url(images/bg3.png) no-repeat;
    background-size: 100% 100%;
}
#branch .container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}
#branch .container .title .line {
    width: 150px;
    height: 2px;
    background: #0011ff;
}
#branch .container .title h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 15px;
    margin-top: 20px;
}
#branch .container .content {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
}
#branch .container .content .box {
    width: 25%;
    height: 60vh;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
#branch .container .content .box h3 {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    letter-spacing: 8px;
    background: #ffe600;
    padding: 5px 10px;
    color: #313131;
    border: 1px #0011ff solid;
    border-radius: 5px;
}
#branch .container .content .box img {
    width: 220px;
}
#branch .container .content .box h1 {
    font-size: 1.7rem;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
}
#branch .container .content .box p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
    letter-spacing: 5px;
    color: #0011ff;
    margin-top: 60px;
}
#branch .container .content .box button {
    padding: 10px 20px;
    border: none;
    background: #0011ff;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top: 50px;
    cursor: pointer;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
} 
#branch .container .content .box:hover button {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
}

/*      ABOUT       */
#about .container {
    background: url(images/bg2.png) no-repeat;
    background-size: 100% 100%;
}
#about .container .title {
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}
#about .container .title .line {
    width: 150px;
    height: 2px;
    background: #0011ff;
}
#about .container .title h1 {
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 15px;
}
#about .container .title .call {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 200px;
}
#about .container .title .call h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: 80px;
    letter-spacing: 8px;
}
#about .container .title .call p {
    font-size: 1.3rem;
    font-family: 'Belleza', sans-serif;
    letter-spacing: 1px;
}
#about .container .title .call button {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    background: #0011ff;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
#about .container .title .call button:hover {
    transform: scale(1);
    border: 2px solid #0011ff;
    background: none;
    color: #0011ff;
    font-weight: 600;
}

/*      PRODUCTS       */
#products .container{
    background: url(images/bg3.png) no-repeat;
    background-size: 100% 100%;
}
#products .container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#products .container .title .line{
    width: 150px;
    height: 2px;
    background: #0011ff;
}
#products .container .title h1{
    margin-top:20px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 15px;
}
#products .container .card{
    width: 60%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}
#products .container .card .box{
    width: 100%;
    height: 45vh;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#products .container .card .box .icon{
    width: 50px;
    height: 60px;
    background: #302725;
    text-align: center;
    line-height: 80px;
    margin-top: 60px;
    cursor: pointer;
}
#products .container .card .box .icon ion-icon{
    color: #fff;
    font-size: 1.6rem;
}
#products .container .card .box img{
    width: 100px;
    margin-top: 35px;
}
#products .container .card .box h1{
    margin-top: 30px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
}
#products .container .card .box p{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: #0011ff;
    margin-top:15px;
}
.owl-dot {
    width: 15px;
    height: 15px;
    outline: none!important;
    border-radius: 50%;
    border: 3px solid #0011ff!important;
}
.owl-dot.active{
    width: 45px;
    border-radius: 15px;
    background: #0011ff!important;
}

/*      TEAM       */
#team .container {
    background: url(images/bg3.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}
#team .container .content{
    width: 40%;
    height: 40vh;
}
#team .container .content p{
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}
#team .container .content h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: 60px;
    text-align: center;
}
#team .container .content .cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#team .container .content .image img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
#team .container .content .title h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    letter-spacing: 5px;
}
#team .container .content .title p{
    font-family: 'Belleza', sans-serif;
    margin-top: 10px;
}

/*      NEWS       */
#news .container {
    background: url(images/bg3.png) no-repeat;
    background-size: 100% 100%;
}
#news .container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#news .container .title .line {
    width: 150px;
    height: 2px;
    background: #0011ff;
}
#news .container .title h1 {
    margin-top:20px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 15px;
}
#news .container .content {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
}
#news .container .content .box {
    width: 20%;
    height: 40vh;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    transition: all 0.3s ease;
}
#news .container .content .box:hover{
    background: rgba(246, 255, 170, 0.9);
    height: 60vh;
}
#news .container .content .box h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #ffe600;
    border: 1px solid #0011ff;
    padding: 5px 20px;
    color: #0011ff;
    border-radius: 5px;
}
#news .container .content .box img {
    width: 150px;
}
#news .container .content .box:hover img {
    width: 210px;
    transition: all 0.5s ease;
}
#news .container .content .box h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 5px;
    margin-top: 20px;
    color: #737373;
}
#news .container .content .box:hover h1 {
    color: #302725;
}
#news .container .content .box p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    font-weight: 600;
    color: #0011ff;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#news .container .content .box button {
    padding: 10px 20px;
    border: none;
    background: #0011ff;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}
#news .container .content .box:hover button {
    transform: translateY(0);
    opacity: 1;
    visibility:visible;
}

/*      FOOTER       */
#footer .container {
    background: url(images/bg3.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#footer .container .content {
    width: 90%;
    height: 40vh;
    background: #ece4b4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer .container .content .left {
    width: 40%;
    margin-left: 60px;
}
#footer .container .content .left h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem;
    font-weight: 200;
    padding: 0 20px;
    letter-spacing: 5px;
}
#footer .container .content .left p {
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top: 50px;
    padding: 0 20px;
}
#footer .container .content .right {
    width: 40%;
}
#footer .container .content .right input {
    padding: 10px 60px;
    border: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 1.1rem;
    outline: none;
}
#footer .container .content .right button {
    padding: 10px 35px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 1.1rem;
    border: none;
    background: #0011ff;
    color: #f0f8ff;
    cursor: pointer;
}
#footer .container .info {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
#footer .container .info .box {
    display: flex;
    flex-direction: column;
}
#footer .container .info .box h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer .container .info .box p,
#footer .container .info .box a {
    font-family: 'Belleza', sans-serif;
    margin-top: 10px;
    color: #2c2c2c;
    text-decoration: none;
}

#footer .container .info .box ion-icon {
    font-size: 1.6rem;
}

#footer .container .info .box ion-icon:hover {
    color: #0011ff;
}

#footer .container .line {
    width: 80%;
    height: 1px;
    background: #0011ff;
    margin-top: 60px;
}